<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Transaction</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>FlexCoin</h1>
        <h2>Create Transaction</h2>
        <form action="http://192.168.0.1:5000/new_transaction" method="post">
        <div class="form-group">
            <label for="sender">From (address)</label>
            <input type="text" class="form-control" id="sender" name="sender">
            <label for="to">To (address)</label>
            <input type="text" class="form-control" id="to" name="to">
            <label for="value">Value</label>
            <input type="text" class="form-control" id="value" name="value">
            <label for="nonce">Nonce</label>
            <input type="text" class="form-control" id="nonce" name="nonce">
            <label for="signature">Signature</label>
            <input type="text" class="form-control" id="signature" name="signature">
            <input type="submit" class="btn btn-primary">
            <button type="button" class="btn btn-primary" onclick="signatureHelper()">Signature Helper</button>
        </div>
        </form>
    </div>
    <pre id="signatureHelper"></pre>
    <script>
        function signatureHelper() {
            var s1 = $('#sender').val();
            var s2 = $('#to').val();
            var s3 = $('#value').val();
            var s4 = $('#nonce').val();
            document.getElementById('signatureHelper').innerText = s1 + ' ' + s2 + ' ' + s3 + ' ' + s4;
        }
    </script>
</body>
</html>