<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlexScan</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="{% url_for('static', filename='js/jquery.css') %}"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>FlexScan</h1>
        <a type="button" class="btn btn-primary" href="create_transaction.html">Create Transaction</a>
        <br>
        <a type="button" class="btn btn-primary mt-1" href="view.html">View Blocks</a>
        <br>
        <a type="button" class="btn btn-primary mt-1" href="check_balance.html">Check Balance</a>
    </div>
</body>
</html>